.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 1px solid #f9f9f9;
    background-color: aliceblue;
}

.header__logo{
    object-fit: contain;
    height: 40px;
}